@import url('https://fonts.googleapis.com/css?family=Crete Round');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  margin: 0 auto;
}

.nav-section {
  background-color: #3c3a39;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 25px 12px 24px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-right: auto;
}

.setting-mobile {
  margin-left: auto;
}

nav {
  width: 100%;
}

.text-white {
  color: #fff;
}

a {
  text-decoration: none;
}

.no-decoration {
  text-decoration: none;
  list-style: none;
}

.bg-primary {
  display: flex;
  background-color: #1c1a19;
  max-width: 100vw;
  max-height: 100vh;
  padding: 120px 24px;
}

.bg-image1 {
  background-image: url(images/bg-image.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 109%;
}

.text-primary {
  margin: 0;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
}

.text-supportive {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.text-description {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.social-media-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 56%;
  padding: 0;
  padding-left: 10px;
}

.social-media > li {
  list-style: none;
}

/* Works Section */

.main-container-works {
  display: grid;
  max-width: 100vw;
  padding: 120px 24px;
}

.main-text-work {
  color: #1c1a19;
  display: flex;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  align-items: center;
}

.main-line {
  margin: 0;
  margin-bottom: 25%;
  color: #212121;
  max-height: 0;
}

.bg-image3 {
  background-image: url(images/workThumbnails/work2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Cards Style */
.card {
  color: #091e42;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 24px;
  margin: 10% 0 0 0;
}

.card-img {
  grid-row: 1 / 2;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 2 / 3;
}

.card-title {
  margin: 24px 0 12px 0;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.card-description {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-tags {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  grid-row: 3 / 4;
  gap: 0.5rem;
}

.card-tag {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.card-button {
  padding: 12px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  width: 124px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}

.child-card {
  padding: 12px;
}

.child-tag {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

.child-button {
  margin: 10px -12px -12px -12px;
  width: auto;
}

/* About me */

.bg-image2 {
  background-image: url(images/bg-about.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 26%;
}

.main-line-white {
  color: #fff;
  margin-top: 64%;
  margin-bottom: 136.73px;
}

.about-section {
  max-height: 10%;
}

.about-text {
  font-size: 72px;
  line-height: 88px;
  font-style: normal;
}

.btn-about {
  width: 156px;
  margin: 24px 0;
}

.tech-list {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  row-gap: 10px;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding: 0;
}

/* Contact Form Style */
.section-contact-form {
  margin: 0 auto;
  padding: 24% 8.6% 20% 8%;
}

.text-dark {
  margin: 0 auto;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  text-align: center;
}

.form-elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 25%;
}

.form-input {
  width: 100%;
  padding: 14px;
  border: none;
  border-bottom: 1px solid #dbdbd7;
  outline: none;
}

.form-textarea {
  background: #fbf8f7;
  border: none;
}

.btn-contact {
  width: 41%;
}

::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

input::placeholder {
  font-style: normal;
  color: #979493;
}

textarea::placeholder {
  font-style: italic;
  color: #3c3a39;
}

.footer-line {
  margin: 0;
  color: #dfe1e6;
}

.social-media-footer {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Desktop Version Style */
@media only screen and (min-width: 768px) {
  .setting-mobile {
    display: none;
  }

  .bg-primary {
    display: flex;
    background-color: #1c1a19;
    max-width: 100vw;
    height: 200%;
    padding: 120px 24px;
  }

  .container {
    width: 40%;
  }

  .bg-image1 {
    background-image: url(images/desktopVersion/section1-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
  }

  .text-column {
    margin: 100px 0 0 10px;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    float: right;
  }

  .text-primary {
    width: 70%;
    margin: 0;
    font-size: 72px;
    line-height: 82px;
  }

  .text-supportive {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    margin: 12px 0;
  }

  .text-description {
    color: #f4f5f7;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin: 12px 0;
  }

  .social-media-section {
    margin: 150px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    float: left;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }

  .social-media > li {
    list-style: none;
    margin: 10px 0;
  }

  /* Work section */
  .main-container-works {
    padding: 120px 141px;
  }

  .main-title-work {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-text-work {
    width: 35%;
  }

  .main-line {
    margin: 0;
    width: 65%;
  }

  .bg-image3 {
    background-image: url(images/workThumbnails/work2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Cards */
  .card {
    display: grid;
    margin-top: 114px;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "card-img card-body"
      "card-img card-body"
      "card-tags card-tags";
    gap: 24px;
  }

  .card-img {
    grid-area: card-img;
  }

  .card-img img {
    content: url("/images/desktopVersion/recentWorkCard1.png");
  }

  .card-body {
    grid-area: card-body;
    justify-content: inherit;
  }

  .card-title {
    margin: 0;
    font-size: 40px;
    line-height: 52px;
  }

  .card-description {
    margin-top: 24px;
    font-size: 20px;
    line-height: 28px;
  }

  .card-tags {
    grid-area: card-tags;
  }

  .card-button:hover {
    cursor: pointer;
    background-color: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .card-button:active {
    background-color: #e05304;
    color: #f4f1f0;
  }
}
