@import url('https://fonts.googleapis.com/css?family=Crete Round');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  margin: 0 auto;
}

.nav-section {
  background-color: #3c3a39;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 25px 12px 24px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-right: auto;
}

.setting-mobile {
  margin-left: auto;
}

nav {
  width: 100%;
}

.text-white {
  color: #fff;
}

a {
  text-decoration: none;
}

.bg-primary {
  display: flex;
  background-color: #1c1a19;
  max-width: 100vw;
  max-height: 100vh;
  padding: 120px 24px;
  background-image: url(images/bg-image.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 109%;
}

.text-primary {
  margin: 0;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
}

.text-supportive {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.text-description {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.social-media-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 56%;
  padding: 0;
  padding-left: 10px;
}

.social-media > li {
  list-style: none;
}

/* Works Section */

.main-container-works {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100vh;
  padding: 120px 24px;
}

.main-text-work {
  color: #1c1a19;
  display: flex;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 40px;
  align-items: center;
}

.main-line {
  margin: 0;
  color: #212121;
  border: 1px solid;
  max-height: 0;
}

/* Cards Style */
.card {
  color: #091e42;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  border: 1px solid #ccc;
  overflow: hidden;

  /* Take off the border before final submission */
}

.card-img {
  grid-row: 1 / 2;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 2 / 3;
}

.card-title {
  margin: 24px 0 12px 0;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.card-description {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-tags {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  grid-row: 3 / 4;
  gap: 0.5rem;
}

.card-tag {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.card-button {
  padding: 12px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  width: 124px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}
