@import url('https://fonts.googleapis.com/css?family=Crete Round');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  margin: 0 auto;
}

.nav-section {
  background-color: #3c3a39;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 25px 12px 24px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-right: auto;
}

.setting-mobile {
  margin-left: auto;
}

.btn-icon {
  border: none;
  background-color: transparent;
  outline: none;
}

.ds-ul {
  display: none;
}

nav {
  width: 100%;
}

.text-white {
  color: #fff;
}

a {
  text-decoration: none;
}

.no-decoration {
  text-decoration: none;
  list-style: none;
}

.bg-primary {
  display: flex;
  background-color: #1c1a19;
  max-width: 100vw;
  max-height: 100vh;
  padding: 120px 24px;
}

.bg-image1 {
  background-image: url(images/bg-image.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 109%;
}

.text-primary {
  margin: 0;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
}

.text-supportive {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.text-description {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.social-media-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 56%;
  padding: 0;
  padding-left: 10px;
}

.social-media > li {
  list-style: none;
}

/* Works Section */

.main-container-works {
  display: grid;
  max-width: 100vw;
  padding: 120px 24px;
}

.main-text-work {
  color: #1c1a19;
  display: flex;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  align-items: center;
}

.main-line {
  margin: 0;
  margin-bottom: 25%;
  color: #212121;
  max-height: 0;
}

.bg-image3 {
  background-image: url(images/workThumbnails/work2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Cards Style */
.card {
  color: #091e42;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 24px;
  margin: 10% 0 0 0;
}

.card-img {
  grid-row: 1 / 2;
  width: 100%;
}

#img_recentWork {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 2 / 3;
}

.card-title {
  margin: 24px 0 12px 0;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.card-description {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-tags {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  grid-row: 3 / 4;
  gap: 0.5rem;
}

.card-tag {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.card-button {
  padding: 12px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  width: 124px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}

.child-card {
  padding: 12px;
}

.child-tag {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  border: unset;
}

.child-button {
  margin: 10px -12px -12px -12px;
  width: auto;
}

/* About me */

.bg-image2 {
  background-image: url(images/bg-about.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 26%;
}

.main-line-white {
  color: #fff;
  margin-top: 64%;
  margin-bottom: 136.73px;
}

.about-section {
  max-height: 10%;
}

.about-text {
  font-size: 72px;
  line-height: 88px;
  font-style: normal;
}

.btn-about {
  width: 156px;
  margin: 24px 0;
}

.tech-list {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  row-gap: 10px;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding: 0;
}

/* Contact Form Style */
.section-contact-form {
  margin: 0 auto;
  padding: 24% 8.6% 20% 8%;
}

.text-dark {
  margin: 0 auto;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  text-align: center;
}

.form-elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 25%;
}

.form-input {
  width: 100%;
  padding: 14px;
  border: none;
  border-bottom: 1px solid #dbdbd7;
  outline: none;
}

.form-textarea {
  background: #fbf8f7;
  border: none;
}

.btn-contact {
  width: 41%;
}

::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

input::placeholder {
  font-style: normal;
  color: #979493;
}

textarea::placeholder {
  font-style: italic;
  color: #3c3a39;
}

.footer-line {
  margin: 0;
  color: #dfe1e6;
}

.social-media-footer {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* Modal Pop Up */
.modalContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
  padding: 5%;
}

#modalSetting {
  display: none;
  background-color: rgb(60, 58, 57);
  width: 100%;
  font-size: 2em;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
}

.modalContent {
  padding: 5%;
  margin: 0 auto;
}

#modalContentSetting {
  background-color: #3c3a39;
  width: 100%;
  padding: 0;
}

.modalNav {
  padding: 0 5%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.modalNav li {
  padding: 2%;
  border-bottom: 1px solid #6f6c6b;
}

#btnCloseNav {
  margin: 5%;
  float: right;
}

/* Modal Projects */
#modalContentProject {
  background-color: #fff;
}

.modalBody {
  max-height: 70vh;
  grid-row: unset;
}

.modalHead {
  display: flex;
  justify-content: space-between;
}

/* .modal-title {

}

.modal-tags {

} */

.modal-tag {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
}

/* .modal-img {

} */

.modal-description {
  margin: 5% 0;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Desktop Version Style */
@media only screen and (min-width: 768px) {
  .setting-mobile {
    display: none;
  }

  .nav-section {
    padding: 12px 0;
  }

  .ds-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .ds-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }

  .text-nav {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }

  .bg-primary {
    display: flex;
    background-color: #1c1a19;
    max-width: 100vw;
    padding: 120px 24px;
    min-height: 70vh;
  }

  .container {
    width: 60%;
  }

  .bg-image1 {
    background-image: url(images/desktopVersion/section1-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
    background-size: 40%;
  }

  .text-column {
    margin: 0;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    float: right;
  }

  .text-primary {
    width: 70%;
    margin: 0;
    font-size: 5vw;
    line-height: 110%;
  }

  .text-supportive {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2.2vw;
    line-height: 120%;
    display: flex;
    align-items: center;
    margin: 12px 0;
  }

  .text-description {
    color: #f4f5f7;
    font-family: 'Inter', sans-serif;
    font-size: 1.4vw;
    line-height: 150%;
    margin: 12px 0;
  }

  .social-media-section {
    margin: 0;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    float: left;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }

  .social-media > li {
    list-style: none;
    margin: 10px 0;
  }

  /* Work section */
  .main-container-works {
    padding: 8%;
  }

  .main-title-work {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-text-work {
    width: 50%;
    font-size: 2.8vw;
  }

  /* Cards */
  .card {
    display: grid;
    margin-top: 8%;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "card-img card-body"
      "card-img card-body"
      "card-tags card-tags";
    gap: 24px;
  }

  .card-img {
    grid-area: card-img;
    width: 50vw;
  }

  #img_recentWork {
    width: 100%;
  }

  .card-body {
    grid-area: card-body;
    justify-content: inherit;
  }

  .card-title {
    margin: 0;
    font-size: 2.8vw;
    line-height: 110%;
  }

  .card-description {
    margin-top: 6%;
    font-size: 1.4vw;
    line-height: 130%;
  }

  .card-tags {
    grid-area: card-tags;
  }

  .card-tag {
    font-size: 1.1vw;
    padding: 3% 4%;
    line-height: 110%;
  }

  .card-button {
    padding: 4% 2%;
    width: 30%;
    font-size: 1.2vw;
  }

  .card-button:hover {
    cursor: pointer;
    background-color: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .card-button:active {
    background-color: #e05304;
    color: #f4f1f0;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 24px;
    margin: 0;
  }

  .child-card > .card-body > .card-button {
    display: none;
  }

  .child-card {
    padding: 0;
    margin: 0;
    gap: 0;
    padding-top: 40%;
    align-items: end;
  }

  .child-title {
    font-size: 2.3vw;
    line-height: 150%;
    padding: 0 5%;
  }

  .child-description {
    font-size: 1.2vw;
    line-height: 150%;
    padding: 0 5%;
    margin-top: 4%;
  }

  .child-tags {
    padding: 0 5%;
  }

  .child-button {
    position: relative;
    margin: 0;
    padding: 5% 0;
    width: 100%;
    font-size: 1.2vw;
  }

  .bg-image3 {
    background-image: url(images/desktopVersion/cardBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bg-image3:hover {
    background-image: url(images/desktopVersion/cardBackgroundHover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Transition Code */
    transition: all 0.3s linear;
  }

  .bg-image3:hover .card-title,
  .bg-image3:hover .card-description,
  .bg-image3:hover .child-tags {
    display: none;
  }

  .bg-image3:hover .card-button {
    display: inline-block;
  }

  /* About Me */
  .about-section {
    padding: 8%;
  }

  .bg-image2 {
    background-image: url(images/desktopVersion/aboutMeBackground.png);
    background-position-y: 10%;
    background-size: 45%;
  }

  .contain-about {
    width: 50%;
  }

  .btn-about {
    width: 26%;
    margin: 3% 0;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid transparent;
  }

  .btn-about:hover {
    cursor: pointer;
    background-color: #fff5e1;
    border-color: #f55800;
    color: #f55800;
  }

  .btn-about:active {
    background-color: #e05304;
    color: #f4f1f0;
  }

  .main-line-white {
    margin: 12% 0;
  }

  .tech-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2.28vw;
  }

  .list-type-img {
    width: 8%;
  }

  #li-diamond {
    width: 12%;
  }

  .new-list {
    font-family: unset;
    font-style: unset;
    font-weight: unset;
    font-size: unset;
    line-height: unset;
    display: unset;
    flex-direction: unset;
    align-items: unset;
    padding: unset;
    row-gap: unset;
  }

  .dropdown-list {
    align-items: flex-start;
    font-size: 1.5vw;
  }

  /* Contact Form */
  .contact-form {
    width: 100%;
  }

  .section-contact-form {
    margin: 0;
    padding: 8%;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .text-dark {
    flex-basis: 54%;
    margin: 0;
    text-align: unset;
    font-size: 2.8vw;
  }

  .form-elements {
    flex-basis: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: flex-start;
    padding-top: 0;
  }

  .btn-contact {
    width: 22%;
    padding: 2%;
    box-sizing: border-box; /* include border width in total width and height */
    border: 1px solid transparent; /* add a transparent border */
  }

  .btn-contact:hover {
    cursor: pointer;
    background-color: #fff5e1;
    border-color: #f55800; /* change border color on hover */
    color: #f55800;
  }

  .btn-contact:active {
    background-color: #e05304;
    color: #f4f1f0;
  }

  .main-line {
    margin: 0;
    width: 100%;
  }

  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social-media-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  /* Modal Projects */
  #modalProject {
    background-color: #000;
    width: 100%;
    padding: 0;
  }

  .modalContent {
    margin: 5%;
    gap: unset;
    width: 100%;
    height: 100vh;
  }

  /*
  .modalBody {

  } */

  .modalHead {
    display: flex;
    justify-content: space-between;
  }

  .modal-title {
    font-size: 2.2vw;
  }

  /* .modal-tags {

  } */

  .modal-tag {
    font-size: 1vw;
    line-height: 112%;
    color: #3c3a39;
    padding: 1%;
  }

  /* .modal-img {

  } */

  #mainBody {
    display: flex;
    align-items: flex-start;
  }

  .modal-description {
    margin: 3% 0;
    font-size: 1.1vw;
    line-height: 130%;
  }

  .modal-button {
    padding: 1%;
    font-size: 1.1vw;
  }

  .card-img.modal-img {
    display: flex;
  }

  #imgModalWork {
    width: 100%;
  }

  .modal-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
  }
}
